.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand i {
    font-size: 30px;
  }

  a {
    text-decoration: none;
    color: $medium-gray;
  }
}
